      .Oghuz {
        width: 100%;
        margin-bottom: 8px;
      }
      .Oghuzvideobasliq {
        margin-top: 0;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 10px;
      }

      .OghuzVideo {
        display: inline-block;
        vertical-align: top;
      }

      .OghuzVideoInfo {
        margin-left: 10px;
      }

      .Oghuzsekildiv {
        position: relative;
      }

      .Oghuz-grid {
        display: flex;
        grid-template-columns: 50px 1fr;
      }

      .OghuzCppLayout {
        position: relative;
      }

      .OghuzCppLayout .tooltippp {
        width: 220px;
        height: 74px;
        background-color: white;
        position: absolute;
        bottom: -60px;
        z-index: 50;
        border-radius: 8px;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
        display: flex;
        opacity: 0;
        pointer-events: none;
        transition: 0.15s;
      }

      .OghuzCppLayout:hover .tooltippp {
        opacity: 1;
      }

      .ppyaxin {
        height: 48px;
        border-radius: 26px;
        margin: 12px;
      }

      .OghuzCpp {
        width: 36px;
        border-radius: 50px;
      }

      .cpplinkoguz {
        text-decoration: none;
      }

      .OKanalAd,.Ovideostats {
        font-size: 12px;
        color: rgb(96, 96, 96);
      }

      .OKanalAd {
        margin-bottom: 4px;
      }
      
      .Video-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 16px;
        row-gap: 40px;
      }

      @media (max-width: 890px) {
        .Video-grid {
          grid-template-columns: 1fr 1fr;
        }
      }

      @media (min-width: 1145px) {
        .Video-grid {
          grid-template-columns: 1fr 1fr 1fr 1fr;
        }
      }

      .videovaxt {
        font-size: 13px;
        font-weight: 500;
        padding: 4px;
        border-radius: 2px;
        background-color: black;
        color: white;
        position: absolute;
        bottom: 22px;
        right: 7px;
      }
