.yanbar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 72px;
  z-index: 200;
  padding-top: 5px;
}

.yanbarlink {
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.yanbarlink:hover {
  background-color: rgb(235, 235, 235);
}

.yanbarlink img {
  height: 24px;
  margin-bottom: 4px;
}

.yanbarlink div {
  font-size: 10px;
}